@charset "UTF-8";
.highlight .hll {
background-color: #f8f4e3; }
.highlight {
background: #f8f8f8; }
.highlight .c {
color: #0a8491;
font-style: italic; }
/* Comment */
.highlight .err {
border: 1px solid #cc355c; }
/* Error */
.highlight .k {
color: #00616e;
font-weight: bold; }
/* Keyword */
.highlight .o {
color: #6f6b61; }
/* Operator */
.highlight .ch {
color: #0a8491;
font-style: italic; }
/* Comment.Hashbang */
.highlight .cm {
color: #0a8491;
font-style: italic; }
/* Comment.Multiline */
.highlight .cp {
color: #e67556; }
/* Comment.Preproc */
.highlight .cpf {
color: #0a8491;
font-style: italic; }
/* Comment.PreprocFile */
.highlight .c1 {
color: #0a8491;
font-style: italic; }
/* Comment.Single */
.highlight .cs {
color: #0a8491;
font-style: italic; }
/* Comment.Special */
.highlight .gd {
color: #823e2d; }
/* Generic.Deleted */
.highlight .ge {
font-style: italic; }
/* Generic.Emph */
.highlight .gr {
color: #cc355c; }
/* Generic.Error */
.highlight .gh {
color: #00616e;
font-weight: bold; }
/* Generic.Heading */
.highlight .gi {
color: #1ea8b4; }
/* Generic.Inserted */
.highlight .go {
color: #8e8676; }
/* Generic.Output */
.highlight .gp {
color: #00616e;
font-weight: bold; }
/* Generic.Prompt */
.highlight .gs {
font-weight: bold; }
/* Generic.Strong */
.highlight .gu {
color: #721532;
font-weight: bold; }
/* Generic.Subheading */
.highlight .gt {
color: #1ea8b4; }
/* Generic.Traceback */
.highlight .kc {
color: #00616e;
font-weight: bold; }
/* Keyword.Constant */
.highlight .kd {
color: #00616e;
font-weight: bold; }
/* Keyword.Declaration */
.highlight .kn {
color: #00616e;
font-weight: bold; }
/* Keyword.Namespace */
.highlight .kp {
color: #00616e; }
/* Keyword.Pseudo */
.highlight .kr {
color: #00616e;
font-weight: bold; }
/* Keyword.Reserved */
.highlight .kt {
color: #cc355c; }
/* Keyword.Type */
.highlight .m {
color: #6f6b61; }
/* Literal.Number */
.highlight .s {
color: #9f2246; }
/* Literal.String */
.highlight .na {
color: #48d3d8; }
/* Name.Attribute */
.highlight .nb {
color: #00616e; }
/* Name.Builtin */
.highlight .nc {
color: #1ea8b4;
font-weight: bold; }
/* Name.Class */
.highlight .no {
color: #9f2246; }
/* Name.Constant */
.highlight .nd {
color: #e5446c; }
/* Name.Decorator */
.highlight .ni {
color: #a69e93;
font-weight: bold; }
/* Name.Entity */
.highlight .ne {
color: #e67556;
font-weight: bold; }
/* Name.Exception */
.highlight .nf {
color: #1ea8b4; }
/* Name.Function */
.highlight .nl {
color: #8e8676; }
/* Name.Label */
.highlight .nn {
color: #1ea8b4;
font-weight: bold; }
/* Name.Namespace */
.highlight .nt {
color: #00616e;
font-weight: bold; }
/* Name.Tag */
.highlight .nv {
color: #00616e; }
/* Name.Variable */
.highlight .ow {
color: #e5446c;
font-weight: bold; }
/* Operator.Word */
.highlight .w {
color: #b4aa97; }
/* Text.Whitespace */
.highlight .mb {
color: #6f6b61; }
/* Literal.Number.Bin */
.highlight .mf {
color: #6f6b61; }
/* Literal.Number.Float */
.highlight .mh {
color: #6f6b61; }
/* Literal.Number.Hex */
.highlight .mi {
color: #6f6b61; }
/* Literal.Number.Integer */
.highlight .mo {
color: #6f6b61; }
/* Literal.Number.Oct */
.highlight .sa {
color: #9f2246; }
/* Literal.String.Affix */
.highlight .sb {
color: #9f2246; }
/* Literal.String.Backtick */
.highlight .sc {
color: #9f2246; }
/* Literal.String.Char */
.highlight .dl {
color: #9f2246; }
/* Literal.String.Delimiter */
.highlight .sd {
color: #9f2246;
font-style: italic; }
/* Literal.String.Doc */
.highlight .s2 {
color: #9f2246; }
/* Literal.String.Double */
.highlight .se {
color: #b5593f;
font-weight: bold; }
/* Literal.String.Escape */
.highlight .sh {
color: #9f2246; }
/* Literal.String.Heredoc */
.highlight .si {
color: #b5593f;
font-weight: bold; }
/* Literal.String.Interpol */
.highlight .sx {
color: #00616e; }
/* Literal.String.Other */
.highlight .sr {
color: #b5593f; }
/* Literal.String.Regex */
.highlight .s1 {
color: #9f2246; }
/* Literal.String.Single */
.highlight .ss {
color: #00616e; }
/* Literal.String.Symbol */
.highlight .bp {
color: #00616e; }
/* Name.Builtin.Pseudo */
.highlight .fm {
color: #1ea8b4; }
/* Name.Function.Magic */
.highlight .vc {
color: #00616e; }
/* Name.Variable.Class */
.highlight .vg {
color: #00616e; }
/* Name.Variable.Global */
.highlight .vi {
color: #00616e; }
/* Name.Variable.Instance */
.highlight .vm {
color: #00616e; }
/* Name.Variable.Magic */
.highlight .il {
color: #6f6b61; }
/* Literal.Number.Integer.Long */
.header {
color: #2a2b2a;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 3rem;
padding: 2rem 0;
position: relative;
text-decoration: none; }
.header__title {
font-size: 7rem;
line-height: 9rem;
margin-top: 16rem;
max-width: 85rem;
width: calc(100% - 4rem); }
.header__image {
grid-column: inherit; }
.header__x,
.header__m {
padding: 1rem;
position: absolute;
top: 3rem; }
.header__x:hover,
.header__m:hover {
opacity: 0.6; }
.header__m {
left: 3rem;
font-family: Rubik, "Helvetica Neue", Helvetica, sans-serif;
font-size: 3rem;
text-decoration: none; }
@media (max-width: 376px) {
.header__m {
left: 1rem; } }
@media (min-width: 1170px) {
.header__m {
position: fixed; } }
.header__x {
right: 3rem; }
.header__x path {
stroke: #2a2b2a; }
@media (max-width: 376px) {
.header__x {
right: 1rem; } }
.header--figma {
background-color: #e5446c; }
.header--figma .header__title {
margin-bottom: 10px; }
.header--figma .header__image {
bottom: -4px;
justify-self: center;
position: absolute;
width: 200px; }
.header--ui-frameworks {
background-color: #ff8965;
min-height: 55rem;
padding-bottom: 6rem;
padding-top: 6rem; }
.header--ui-frameworks .header__title {
align-self: start;
grid-row: 2;
margin-top: 3rem;
max-width: 13em;
justify-self: center; }
.header--ui-frameworks .header__image {
align-self: end;
grid-column: col 3 / span 8;
grid-row: 1;
justify-self: center;
width: 157px; }
.header--grommet {
background-color: #f8f4e3;
color: #2a2b2a; }
.header--grommet .header__x path {
stroke: #2a2b2a; }
.header--input {
background-color: #0a8491;
flex-direction: column-reverse;
font-family: "Roboto Mono", "Helvetica Neue", Helvetica, sans-serif;
display: flex;
align-items: center;
justify-content: center; }
.header--input .header__image {
height: 8rem;
margin-bottom: 3rem;
margin-top: 1rem; }
.header--input .header__title {
font-weight: 400; }
body {
font-size: 2.5rem;
line-height: 3.5rem; }
.post {
font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
padding: 0 0 12rem;
margin: 0 auto;
max-width: 85rem;
width: calc(100% - 4rem); }
p + p {
margin-top: 2rem; }
h1,
h2,
h3,
h4,
h5 {
margin-bottom: 2rem; }
h1 {
font-weight: 400;
font-size: 7rem;
line-height: 9rem; }
h2 {
border-bottom: 1px solid #d7d5d2;
font-size: 3.5rem;
font-weight: 600;
padding-bottom: 2rem;
margin-top: 5rem; }
h3 {
font-size: 3rem;
line-height: 4rem;
font-weight: 600;
margin-top: 6rem; }
h4 {
font-weight: 600;
margin-top: 6rem; }
strong {
font-weight: 600; }
ul {
list-style-type: disc;
list-style-position: outside;
padding-left: 3.5rem; }
ul li {
list-style: none;
margin: 3rem 0;
position: relative; }
ul li:before {
color: #e5446c;
content: '•';
position: absolute;
left: -3rem; }
ol {
list-style: decimal;
padding-left: 3.5rem; }
ol li {
margin: 3rem 0; }
hr {
border: none;
border-top: 1px solid #d7d5d2;
display: block;
margin: 6rem 0; }
.post img {
margin: 2rem 0;
width: 100%; }
blockquote {
color: #3abec7;
font-family: "Roboto Mono", "Helvetica Neue", Helvetica, sans-serif;
margin: 6rem 0;
font-size: 2.5rem;
line-height: 3.5rem; }
blockquote cite {
font-size: 2rem;
line-height: 2.75rem;
color: #b4aa97; }
.image--auto,
.image--auto--left {
text-align: center; }
.image--auto img,
.image--auto--left img {
max-width: 100%;
width: auto; }
.image--auto--left {
float: left;
margin-right: 4rem; }
@media (max-width: 376px) {
.image--auto--left {
float: none;
margin-right: 0; } }
.highlighter-rouge {
margin: 1rem 0; }
code,
.highlight {
font-family: "Roboto Mono", "Helvetica Neue", Helvetica, sans-serif;
font-size: 2rem;
line-height: 2.75rem; }
.highlight {
overflow-x: auto;
padding: 1.5rem; }
.aside {
color: #1ea8b4;
font-size: 2rem;
line-height: 2.75rem; }
.comments {
border-top: 1px solid #d7d5d2;
font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif !important;
padding: 8rem 0 !important;
margin: 0 auto;
max-width: 85rem; }
footer {
font-size: 1.5rem;
letter-spacing: -0.01rem;
line-height: 2.25rem;
border-top: 1px solid #d7d5d2;
display: flex;
font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
justify-content: space-between;
margin: 0 auto;
max-width: 85rem;
padding: 8rem 0;
width: calc(100% - 4rem); }
.footer__links {
display: grid;
grid-auto-flow: column;
gap: 1em; }